<!DOCTYPE html>
<html>
<head>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="javascripts/codemirror.js"></script>
  <link rel="stylesheet" href="stylesheets/codemirror.css">
  <script src="mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="stylesheets/theme/monokai.css">


  <title>Alex Testing Center</title>

  <link rel="stylesheet" href="stylesheets/alex_tests.css">
  <script src="javascripts/ALEX_TESTING.js"></script>
  <script src="https://simplewebrtc.com/latest-v2.js"></script> 

</head>
<body >

<div id="color-selector-wrap">
  <ul id="list-colors">
    <li><div id="choose-color">Choose Color</div></li>
    <li><div id="blue" onclick="color(this)"></div></li>
    <li><div id="red" onclick="color(this)"></div></li>
    <li><div id="green" onclick="color(this)"></div></li>
    <li><div id="yellow" onclick="color(this)"></div></li>
  </ul>
  <ul id="list-thickness">
    <li><div id="choose-size"> Choose Size </div></li>
    <li><div id="small" onclick="width(this)"></div></li>
    <li><div id="medium" onclick="width(this)"></div></li>
    <li><div id="large" onclick="width(this)"></div></li>
    <li><div id="extra-large" onclick="width(this)"></div></li>
  </ul>
  <div id="erase" onclick="color(this)"> <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> </div>
</div>

<canvas id="canvas" height=400 width=400 onload="initCanvas()"></canvas>

<input type="button" value="clear" id="clr" size="23" onclick="erase()">


<!-- <video height="300" id="localVideo"></video>
<div id="remotesVideos"></div> -->


<div id="code-input-box"></div>
<button class="btn btn-success btn-lg" id="compile">Compile</button>
<div id="code-output-box"></div>

<div>
  <form id="name_Input">
    <h1> Enter your Name </h1>
    <input type="text" id="name" placeholder="enter name here">
    <input type="submit">
  </form>
</div>

<div class="row" id="active_user_list">

  <div class="col-md-4" style="left: 50px;">
    <div id="chatBox"></div>
    <form id="chat">
      <input id="message">
      <input type="submit">
    </form>
  </div>

  <div class="col-md-8" style="height: 500px; width: 300px; overflow: auto; border: 1px solid black; left: 40px;">  
    <h3> Connected Users </h3>
      <div class="userList">
      <!-- USERS GO HERE -->
      </div>
  </div>  

<div>

<div class ="row" id="private_message_row">
  <div class="col-md-6" style="left:0px;background: yellow; height: 500px;">
    <h1> </h1>
    <div id="privateChat"  data-chatID=""></div>

    <form id="privateMessaging">
      <input type="text" placeholder="message" id="p_message">
      <input type="submit">
    </form>
    <button class="btn btn-sm btn-default" id="leaveChat"> Leave Conversation </button>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>

</body>
</html>






